#back
{
	position:fixed;
	width:100%;
	height:100%;

	z-index:-10;
}
#top_bar
{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:6%;

	z-index:-1;
}
#back1
{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;

	z-index:-1;
}
a
{
	color:white;
}

#bar_elem
{
position: absolute;
right:5%;
top:2%;
}
#fir:hover,#sec:hover,#thh:hover
{

color:yellow;
}
#word
{
	position: absolute;
	left:10%;
	top:10%;
	width:40%;
}
#wrd
{
	position: absolute;

	top:30%;
}
#meaning
{
	position: absolute;

	top:100%;
}
#image
{
	position: fixed;
	left:52%;
	top:10%;
}
#synonyms
{
	position: absolute;
	top:250%;


}

#previous
{
	position: fixed;
	left:0%;
	top:-1%;
	width:5%;
	color:white;

}
#change
{
	position: absolute;
	left:52%;
	top:90%;
	width:37%;
}

#test
{
	position: absolute;
	
	top:300%;
	left:0%;
}
#test1
{
	position: absolute;
	
	top:300%;
	left:20%;
}
#test2
{
	position: absolute;
	
	top:300%;
	left:40%;
}
#test3
{
	position: absolute;
	
	top:300%;
	left:40%;
	visibility: hidden;
}
#soun
{
	position: absolute;
	top:30%;
	left:37%;
	width:3%;

}
#hint
{
	position: absolute;
	
	top:150%;
}
#explain
{
	position: absolute;
	top:200%;
}
#notebox
{
	position: absolute;
	top:350%;
	visibility: hidden;
	width:60%;
}
#saved
{
	position: absolute;
	top:470%;
	left:25%;
	visibility: hidden;
	width:60%;
}

#searchdiv
{
	position: absolute;
	width:30%;
	top:0.5%;
	left:30%;

}
#searchbutton
{
position: fixed;
left: 60%;
top:0.5%;
}